<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>……</string>
		<key>shortcut</key>
		<string>なぎてて</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>――</string>
		<key>shortcut</key>
		<string>なぎよせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×　　　×　　　×</string>
		<key>shortcut</key>
		<string>なぎばつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>なぎまる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｜</string>
		<key>shortcut</key>
		<string>なぎたせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（</string>
		<key>shortcut</key>
		<string>なぎひまか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>）</string>
		<key>shortcut</key>
		<string>なぎとまか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>「</string>
		<key>shortcut</key>
		<string>なぎひかか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>」</string>
		<key>shortcut</key>
		<string>なぎとかか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>『</string>
		<key>shortcut</key>
		<string>なぎひにか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>』</string>
		<key>shortcut</key>
		<string>なぎとにか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>【</string>
		<key>shortcut</key>
		<string>なぎひすか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>】</string>
		<key>shortcut</key>
		<string>なぎとすか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>《</string>
		<key>shortcut</key>
		<string>なぎひにや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>》</string>
		<key>shortcut</key>
		<string>なぎとにや</string>
	</dict>
</array>
</plist>
